.language {
  position: fixed;
  left: -11vw;
  top: 245px;

  width: 330px;
  height: 132px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;

  border-radius: 8px;
  background: rgba($gray2, 0.25);

  box-shadow: 0 4px 4px 0 rgba($black, 0.25);

  transition: all 0.3s ease-in-out;

  @include tablet-m(){
    width: 173px;
    top: 48px;
    height: 78px;

    gap: 23px;
  }
  @include tablet-s(){
    top: 30px;

    width: 139px;
    height: 58px;
    gap: 15px;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 120px;
    height: 86px;
    @include tablet-m(){
      width: 60px;
      height: 43px;
    }
    @include tablet-s(){
      width: 45px;
      height: 32px;
    }
    &--active:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      border: 6px solid $danger;
      border-radius: 12px;
      width: 142px;
      height: 108px;

      @include tablet-m(){
        border: 2px solid $danger;
        width: 70px;
        height: 53px;
      }
        @include tablet-s(){
          border-radius: 6px;
            width: 55px;
            height: 42px;
        }
    }
  }
}