.tooltip{
  position: absolute;
  bottom: 41px;

  @include tablet-m(){
    width: 422px;
  }
  @include tablet-s(){
    left: -20px;
    bottom: 41px;
    width: 322px;
  }

  &__img{
    width: 768px;
    height: auto;
    @include tablet-m(){
      width: 422px;
    }
    @include tablet-s(){
      width: 322px;
    }
    &--small{
      width: 768px;
      height: auto;
      @include tablet-m(){
        width: 422px;
      }
      @include tablet-s(){
        width: 239px;
      }
    }
    }

}