.check--qr-page{
  @include container();
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet-m(){
    margin-top: 44px;
  }
  @include tablet-s(){
    margin-top: 45px;
  }

  &__qr{
    border: 1px solid $secondary;

    width: 1157px;
    height: 1163px;
    margin-bottom: 72px;

    padding: 37px 34px;
    background-image: url(".././assets/img/qr.png");
    background-size: cover;

    @include tablet-m(){
      width: 558px;
      height: 561px;
      padding: 26px 24px;
      margin-bottom: 44px;
    }
    @include tablet-s(){
      width: 330px;
      height: 332px;
      padding: 29px 28px;
      margin-bottom: 24px;
    }

  }
  &__button{
    @include button($secondary,$secondary,$white);
  }

}
