.payment-page {
  display: flex;
  flex-direction: column;

  &__button-back {
    position: relative;
    height: 108px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: transparent;
    border: 2px solid $white;
    border-radius: 12px;

    color: $white;
    font-family: $roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


    @include tablet-m() {
      border-width: 1px;
      border-radius: 8px;
      height: 52px;
      font-size: 22px;
    }
    @include tablet-s() {
      border-width: 1px;
      height: 41px;
      font-size: 16px;
    }

    &--icon {
      width: 56px;
      height: 56px;
      @include tablet-m() {
        width: 30px;
        height: 30px;
      }
      @include tablet-s() {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__logo {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 60px 0 0;

    width: 416px;
    height: auto;

    @include tablet-m {
      margin: 48px 0 3px;
      width: 236px;
    }
    @include tablet-s {
      margin: 14px 0 10px;
      width: 161px;
    }
  }

  &__content {
    @include container();

    margin-top: 120px;
    @include tablet-m() {
      margin-top: 44px;
    }
    @include tablet-s() {
      margin-top: 26px;
    }

    display: flex;
    flex-direction: column;
  }
}