// --------------------------------
// Fonts
// --------------------------------

$roboto: "Roboto", sans-serif;

// --------------------------------
// Colors
// --------------------------------

$primary: #5D63AC;
$secondary: #FF7A2E;
$danger: #FF4949;

$white: #FFFFFF;
//$white-transparent: rgba($white 0.6);

$black: #000000;

$gray:#ABABAB;

$light-purple: #C6CAFF;

$blue: #18274B;