@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./breakpoints";
@import "./layout";

@import "./components/language";

body {
  font-family: $roboto;
  background-color: $primary;
  width: 100%;
  height: 100vh;
}
