@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./breakpoints";
@import "./layout";

@import "./components/language";
@import "./components/figure";
@import "./components/form";
@import "./components/timer";
@import "./components/tooltip";
@import "./components/form-checkbox";
@import "./components/checkbox";
@import "./components/fond";

@import "./pages/ads";
@import "./pages/payment";
@import "./pages/success";
@import "./pages/fail";
@import "./pages/idle";
@import "./pages/check--qr";
@import "./pages/check";
@import "./pages/change";
@import "./pages/charity";
@import "./pages/thanks";

body {
  font-family: $roboto;
  background-color: $primary;
  width: 100%;
  height: 100vh;
}
